#container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#calculator {
  width: 400px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #c0c0c0;
}

#input-area {
  padding: 20px 20px;
  border-bottom: 2px solid black;
  text-align: right;
}

#buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-template-rows: 40px 40px 40px 40px 40px;
  margin: 5px;
  color: blue;
  padding: 20px 0;
}

button {
  margin: 5px;
  color: blue;
  border-radius: 5px;
}

#clear {
  background-color: #ff007f;
  grid-column: span 3;
  color: white;
}

#equals {
  background-color: cyan;
}

#zero {
  grid-column: span 2;
}